%h3= @post.title
%p= @post.body

= link_to 'Edit', edit_post_path(@post), class: 'btn btn-primary'
= link_to 'Index', root_path, class: 'btn btn-default'

%h2= @post.comments

= link_to 'Edit', edit_post_path(@post), class: 'btn btn-primary'