%h3= @post.title
%p= @post.body

%hr
%h4 Comments
- @post.comments.each do |comment|
  %h5 #{time_ago_in_word(comment_created_at)} ago
  %p= comment.body
  %hr

= link_to 'Edit', edit_post_path(@post), class: 'btn btn-primary'
= link_to 'Index', root_path, class: 'btn btn-default'
= link_to 'Comment', new_post_comment_path(@post), class: 'btn btn-default'
